:root {
    --cardScale: 0.33;
}

#test-cards {
    display: flex;
}

.altered-card {
    border: 1px solid white;
    box-shadow: 1px 1px 4px -1px white;
    border-radius: 7px;
    margin: 3px 5px;
    position: relative;

    &.unselectable {
        cursor: not-allowed;
        filter: grayscale(80%);
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected {
        border: 2px solid red;
        margin: 2px 4px;
        box-shadow: 0px 0px 10px 0px red;
    }

    &.selectedToMana {
        border-color: #1059c5;
        box-shadow: 0px 0px 10px 0px #319cda;
    }

    // &.selectedToKeep {
    //     border-color: #5ec15e;
    //     box-shadow: 0px 0px 10px 0px #2be32b;

    //     .ark-card-wrapper::before {
    //         content: "\f00c";
    //         position: absolute;
    //         left: 100px;
    //         right: 100px;
    //         top: 100px;
    //         bottom: 250px;
    //         background: #e1e1e1c4;
    //         z-index: 10;
    //         font: normal normal normal 14px/1 FontAwesome;
    //         font-size: 140px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         color: green;
    //         border-radius: 20px;
    //     }
    // }

    // &.selectedToDiscard {
    //     border: 2px solid red;
    //     margin: 2px 4px;
    //     box-shadow: 0px 0px 10px 0px red;

    //     // [data-filter="0"] & .ark-card-wrapper {
    //     filter: grayscale(1);
    //     -webkit-transform: translateZ(0);
    //     -webkit-perspective: 1000;
    //     -webkit-backface-visibility: hidden;
    //     // }

    //     .ark-card-wrapper::before {
    //         content: "\f1f8";
    //         position: absolute;
    //         left: 0;
    //         right: 0;
    //         top: 0;
    //         bottom: 0;
    //         background: #d1d1d1be;
    //         z-index: 10;
    //         font: normal normal normal 14px/1 FontAwesome;
    //         font-size: 140px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }
    // }

    .altered-card-wrapper {
        position: relative;

        background-size: 100% 100%;
        background-repeat: no-repeat;

        @each $faction, $list in $illustrations {
            @each $asset in $list {
                &[data-asset="#{$asset}"] {
                    background-image: url("img/illustrations/#{$faction}/#{$asset}.jpg");
                }
            }
        }

        &[data-asset="back"] {
            background-image: url("img/back-main.jpg");
        }
    }
}

//  _____      _ _
// |  ___|   _| | |
// | |_ | | | | | |
// |  _|| |_| | | |
// |_|   \__,_|_|_|

.altered-card {
    width: calc(var(--cardScale) * 324px);
    height: calc(var(--cardScale) * 450px);
    border: none;
    box-shadow: none;
    border-radius: calc(var(--cardScale) * 20px);

    .altered-card-wrapper {
        width: 324px;
        height: 450px;
        transform: scale(var(--cardScale));
        transform-origin: top left;
        border-radius: 15px;

        .card-frame {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            background-size: 600% 500%;

            @each $faction in $factions {
                &[data-faction="#{$faction}"] {
                    background-image: url("img/frames/#{$faction}.png");
                }
            }

            &[data-type="hero"] {
                background-position: 0% 50%;
            }

            &[data-type="character"] {
                // BASE
                &[data-rarity="0"] {
                    // Small frame, no ECHO
                    &[data-frame="1"] {
                        background-position: 40% 0%;
                    }
                    // Bigger frame, no ECHO
                    &[data-frame="2"] {
                        background-position: 60% 0%;
                    }
                    // Small frame, with ECHO
                    &[data-frame="3"] {
                        background-position: 0% 0%;
                    }
                    // Bigger frame, with ECHO
                    &[data-frame="4"] {
                        background-position: 20% 0%;
                    }
                }
                // RARE
                &[data-rarity="1"] {
                    // Small frame, no ECHO
                    &[data-frame="1"] {
                        background-position: 80% 50%;
                    }
                    // Bigger frame, no ECHO
                    &[data-frame="2"] {
                        background-position: 100% 50%;
                    }
                    // Small frame, with ECHO
                    &[data-frame="3"] {
                        background-position: 40% 50%;
                    }
                    // Bigger frame, with ECHO
                    &[data-frame="4"] {
                        background-position: 60% 0%;
                    }
                }
                // UNIQUE
                &[data-rarity="2"] {
                    // Small frame, no ECHO
                    &[data-frame="1"] {
                        background-position: 80% 100%;
                    }
                    // Bigger frame, no ECHO
                    &[data-frame="2"] {
                        background-position: 100% 100%;
                    }
                    // Small frame, with ECHO
                    &[data-frame="3"] {
                        background-position: 40% 100%;
                    }
                    // Bigger frame, with ECHO
                    &[data-frame="4"] {
                        background-position: 60% 100%;
                    }
                }
            }
            &[data-type="spell"] {
                // BASE
                &[data-rarity="0"] {
                    // Small frame, no ECHO
                    &[data-frame="1"] {
                        background-position: 80% 25%;
                    }
                    // Bigger frame, no ECHO
                    &[data-frame="2"] {
                        background-position: 100% 25%;
                    }
                    // Small frame, with ECHO
                    &[data-frame="3"] {
                        background-position: 40% 25%;
                    }
                    // Bigger frame, with ECHO
                    &[data-frame="4"] {
                        background-position: 60% 25%;
                    }
                }
                // RARE
                &[data-rarity="1"] {
                    // Small frame, no ECHO
                    &[data-frame="1"] {
                        background-position: 0% 100%;
                    }
                    // Bigger frame, no ECHO
                    &[data-frame="2"] {
                        background-position: 20% 100%;
                    }
                    // Small frame, with ECHO
                    &[data-frame="3"] {
                        background-position: 80% 75%;
                    }
                    // Bigger frame, with ECHO
                    &[data-frame="4"] {
                        background-position: 100% 75%;
                    }
                }
            }
        }

        .card-name {
            position: absolute;
            z-index: 2;
            top: 26px;
            left: 48px;
            right: 50px;
            font-size: 17px;
            color: white;
            text-align: center;
            font-family: "Jali Greek Variable";
            font-weight: bold;
        }

        .card-typeline {
            position: absolute;
            z-index: 2;
            top: 46px;
            left: 48px;
            right: 50px;
            font-size: 13px;
            color: black;
            text-align: center;
            font-family: "Jali Greek Variable";
            font-style: italic;
        }

        .card-hand-cost,
        .card-memory-cost {
            position: absolute;
            z-index: 3;
            color: white;
            text-align: center;
            font-family: "Haptic Pro";
            font-weight: bold;
            font-size: 34px;
        }

        .card-hand-cost {
            top: 21px;
            left: 27px;
            font-size: 25px;
        }

        .card-memory-cost {
            top: 39px;
            left: 49px;
            font-size: 25px;
        }

        .card-forest,
        .card-mountain,
        .card-ocean {
            z-index: 1;
            position: absolute;
            left: 22px;
            font-family: "Haptic Pro";
            padding-left: 12px;
            color: white;
            box-shadow: 0px 0px 14px 2px black;
            text-shadow: 0px 0px 6px black;

            border-radius: 11px;
            height: 25px;
            width: 25px;
            font-size: 21px;
            line-height: 29px;

            &[data-size="0"] {
                width: 15px;
                background: transparent;
            }
            &[data-size="1"] {
                width: 15px;
            }
            &[data-size="3"] {
                width: 35px;
            }
        }

        .card-forest {
            background: #abb648;
            top: 96px;
            border-bottom-right-radius: 4px;
        }
        .card-mountain {
            background: #af7b51;
            top: 123px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .card-ocean {
            background: #6b93c0;
            top: 150px;
            border-top-right-radius: 4px;
        }

        .card-text {
            position: absolute;
            z-index: 2;
            top: 317px;
            bottom: 31px;
            left: 20px;
            right: 20px;
            font-family: "Jali Greek Variable";
            font-size: 13px;
            color: black;

            .card-reminders {
                font-style: italic;
            }

            .card-qrcode-container {
                float: right;
                width: 70px;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: end;
                shape-outside: polygon(0px 33px, 0px 102px, 70px 102px, 70px 33px);

                .card-qrcode {
                    display: block;
                    width: 66px;
                    height: 66px;
                    background-image: url("img/qrcode.png");
                    background-size: 80%;
                    background-repeat: no-repeat;
                    margin-bottom: -4px;
                    margin-right: -4px;
                    background-position: center center;
                }
            }
        }

        .card-frame[data-frame="3"] ~ .card-text {
            top: 280px;
        }
        .card-frame[data-frame="4"] ~ .card-text {
            top: 260px;
        }

        .card-echo {
            position: absolute;
            z-index: 2;
            top: 371px;
            bottom: 29px;
            left: 20px;
            right: 84px;
            font-family: "Jali Greek Variable";
            color: black;
        }
    }

    &.card-hero {
        .card-name {
            top: 27px;
            font-style: italic;
        }
        .card-typeline {
            top: 51px;
            font-style: italic;
            font-weight: bold;
        }
        .card-text {
            top: 311px;
            bottom: 31px;
            left: 25px;
            right: 21px;
        }
    }
}

//  __  __ _       _
// |  \/  (_)_ __ (_)
// | |\/| | | '_ \| |
// | |  | | | | | | |
// |_|  |_|_|_| |_|_|
//
$miniCardScale: 0.33;
.altered-card.mini-card,
.player-board-hero .altered-card {
    width: $miniCardScale * 324px;
    height: $miniCardScale * 324px;

    &.card-hero {
        height: $miniCardScale * 450px;

        .card-frame {
            display: none;
        }
    }

    .help-marker {
        left: calc(50% - 11px);
        top: -10px;
    }

    .altered-meeple {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
        visibility: hidden;
    }

    .altered-card-statuses {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 7;

        .card-status {
            width: 1em;
            height: 1em;
            padding: 0.25em;
            background: #222222;
            border-radius: 50%;
            box-shadow: 0px 0px 5px white;
            color: white;
        }
    }

    .altered-card-wrapper {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        transform: none;
        background-size: 100% auto;

        .card-hand-cost,
        .card-memory-cost {
            position: absolute;
            z-index: 3;
            color: white;
            text-align: center;
            font-family: "Haptic Pro";
            font-weight: bold;
            font-size: 13px;
            line-height: 23px;
            background: #579ccc;
            // top: 2px;
            // left: 2px;
            top: -4px;
            left: -4px;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            text-shadow: 0px 0px 5px black;
            box-shadow: 0px 0px 5px black;
            border: 1px solid black;
        }

        .card-memory-cost {
            z-index: 2;
            top: 7px;
            left: 11px;
            // top: 13px;
            // left: 17px;

            &[data-faction="MU"] {
                background: #2a7533;
                box-shadow: 0px 0px 5px #396a3f;
                border: 1px solid #396a3f;
            }
            &[data-faction="LY"] {
                background: #a82249;
                box-shadow: 0px 0px 5px #ce3f65;
                border: 1px solid #ce3f65;
            }
            &[data-faction="BR"] {
                background: #5f1f16;
                box-shadow: 0px 0px 5px #aa212e;
                border: 1px solid #aa212e;
            }
        }

        .card-forest,
        .card-mountain,
        .card-ocean {
            z-index: 3;
            position: absolute;
            left: -6px;
            // left: 7px;
            font-family: "Haptic Pro";
            padding-left: 4px;
            color: white;
            box-shadow: 0px 0px 6px 2px black;
            text-shadow: 0px 0px 6px black;

            border-radius: 6px;
            height: 17px;
            width: 20px;
            font-size: 13px;
            line-height: 21px;
            font-weight: bold;

            &[data-size="0"] {
                width: 11px;
                // background: transparent;
            }
            &[data-size="1"] {
                width: 13px;
            }
            &[data-size="3"] {
                width: 27px;
            }
        }

        .card-forest {
            top: 37px;
            background: #abb648;
            border-bottom-right-radius: 2px;
            &[data-size="0"] {
                background: #bdbeb5ee;
            }
        }
        .card-mountain {
            top: 57px;
            background: #af7b51;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            &[data-size="0"] {
                background: #ad9684ee;
            }
        }
        .card-ocean {
            top: 77px;
            background: #6b93c0;
            border-top-right-radius: 2px;
            &[data-size="0"] {
                background: #a4b4c7ee;
            }
        }

        .card-text,
        .card-echo,
        .card-name,
        .card-typeline {
            display: none;
        }

        .card-frame {
            background: none;
            border: 6px solid black;
            border-radius: 10px;

            &[data-rarity="1"] {
                border: 1px solid white;
            }
        }
    }
}

//  _____           _ _   _
// |_   _|__   ___ | | |_(_)_ __
//   | |/ _ \ / _ \| | __| | '_ \
//   | | (_) | (_) | | |_| | |_) |
//   |_|\___/ \___/|_|\__|_| .__/
//                         |_|

.altered-card-tooltip {
    display: flex;
    --cardScale: 1;

    .tooltip-explanation {
        &:empty {
            display: none;
        }

        max-width: 200px;
        padding: 5px;
        font-family: "Jali Greek Variable";
    }
}

#floating-hand-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: transform 0.8s;
    z-index: 1000;
    --cardScale: 0.4;
    &:not(.active) {
        display: none;
    }
    &[data-open] {
        transform: translateY(0px);
    }

    transform: translateY(calc(100% - var(--cardScale) * 140px));
    box-shadow: 0 0 10px 1px #ff0;
    background-color: rgba(40, 39, 36, 0.78);
    border-top: 1px solid #7c5d45;
    border-right: 1px solid #7c5d45;
    border-top-right-radius: 8px;

    #floating-hand-button-container {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        // .mobile_version & {
        //     justify-content: flex-start;
        // }
        z-index: 2;
        transition: top 0.8s;

        #floating-hand-button {
            border: 1px solid black;
            border-radius: 50%;
            box-shadow: 2px 2px 5px black;
            background-color: gray;
            margin: 0px 5px;
            margin-top: -38px;
            cursor: pointer;
            transform: translateY(0);
            transition:
                transform 0.4s,
                margin 0.4s;
            &:hover {
                transform: translateY(-10px);
            }

            .icon-hand {
                width: 40px;
                height: 40px;
                margin: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 32px;

                i {
                    display: none;
                }
            }
        }
    }
    &[data-open="hand"] #floating-hand-button-container #floating-hand-button {
        margin-top: -58px;
        margin-bottom: 20px;
        .icon-hand {
            background: none;

            i {
                display: block;
            }
        }

        &:hover {
            .icon-hand {
                font-size: 34px;
            }
        }
    }

    #floating-hand {
        width: 100%;
        height: 100%;
        margin-top: calc(-1 * var(--cardScale) * 12px);
        padding-top: calc(var(--cardScale) * 12px);
        min-width: calc(var(--cardScale) * 375px);

        .player-board-hand {
            display: flex;
            max-width: 99vw;
            flex-wrap: wrap;
            justify-content: flex-start;

            .ark-card {
                margin: 4px;
                flex-shrink: 0;

                &.selected {
                    margin: 2px;
                }

                &:hover {
                    z-index: 4;
                }
            }
        }
    }
}
