@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-BlackItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Bold.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Black.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Light.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Semibold.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-SemiboldItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Regular.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-BoldItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-Extrabold.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Extrabold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-ExtraboldItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-ExtraboldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-RegularItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Semilight";
    src:
        url("img/fonts/HapticPro/HapticPro-SemilightItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-SemilightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro";
    src:
        url("img/fonts/HapticPro/HapticPro-LightItalic.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Semilight";
    src:
        url("img/fonts/HapticPro/HapticPro-Semilight.woff2") format("woff2"),
        url("img/fonts/HapticPro/HapticPro-Semilight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Compressed";
    src:
        url("img/fonts/HapticProComp/HapticProComp-Light.woff2") format("woff2"),
        url("img/fonts/HapticProComp/HapticProComp-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Compressed";
    src:
        url("img/fonts/HapticProComp/HapticProComp-Bold.woff2") format("woff2"),
        url("img/fonts/HapticProComp/HapticProComp-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Compressed";
    src:
        url("img/fonts/HapticProComp/HapticProComp-Black.woff2") format("woff2"),
        url("img/fonts/HapticProComp/HapticProComp-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Haptic Pro Compressed";
    src:
        url("img/fonts/HapticProComp/HapticProComp-Regular.woff2") format("woff2"),
        url("img/fonts/HapticProComp/HapticProComp-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jali Greek Variable";
    src:
        url("img/JaliGreekVariable-Regular.woff2") format("woff2"),
        url("img/JaliGreekVariable-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jali Greek Variable";
    src:
        url("img/JaliGreekVariable-Italic.woff2") format("woff2"),
        url("img/JaliGreekVariable-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-BoldItalic.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-Bold.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-Demi.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-Demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-Medium.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-Heavy.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-MediumItalic.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-DemiItalic.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-DemiItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-Regular.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-RegularItalic.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Tiller";
    src:
        url("img/fonts/Tiller/Tiller-HeavyItalic.woff") format("woff"),
        url("img/fonts/Tiller/Tiller-HeavyItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
