// FORMATTING
.effect-reference,
.effect-reference-emphasis {
    font-family: "Jali Greek Variable";
    font-weight: bold;
    &.effect-reference-emphasis {
        text-decoration: underline;
    }
}
.mana-cost {
    font-family: "Haptic Pro";
    display: inline-block;
    background: black;
    border-radius: 50%;
    color: white;
    width: 1em;
    height: 1em;
    text-align: center;
    margin: 0 0.2em;
}

.rare-marker {
    color: gold;
}
