.altered-icon {
  background: url("img/icons.png");
  background-repeat: no-repeat;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
.icon-container {
  display: inline-block;
}

.icon-first-player {
  background-image: url("img/icons/first-player.png");
  background-size: 100%;
  width: 40px;
  height: 40px;
}
