#topbar {
    margin-top: -66px;
    transition: margin 0.5s;

    &.visible {
        margin-top: 0px;
    }
}
#game_play_area {
    margin-top: 0px;
}

#left-side-wrapper {
    margin-top: 0px;
}

#page-title {
    position: relative;
    z-index: 2;
}
.current_player_is_active #page-title,
.gamestate_gameEnd #page-title,
#page-title {
    background: #2d2c3eeb;
    color: white;
    border-radius: 6px;
    border: 1px solid #dbbc18;

    .bgabutton_gray {
        border: 1px solid white;
        box-shadow: 0 0 0 white;
        color: white;
        text-shadow: none;
    }
}

#right-side {
    float: left;
    margin-left: -240px;
    margin-top: -7px;
    width: 240px;

    #player_boards .player-board:nth-child(1) {
        border-top-left-radius: 0px;
    }
}

.player-board {
    background-color: #0000008c;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 3px 8px rgba(96, 93, 93, 0.1);
    clear: both;
    padding: 5px 3px;
    border: 1px solid #dfb719 !important;
    color: white;
    margin: 0px -1px;
    margin-bottom: 5px;
}

#player_board_config {
    position: relative;
    border-image: none;
    margin-top: -2px;
    padding-bottom: 7px;
}

.mobile_version {
    #right-side {
        top: 8px;
        transition: top 0.5s;
    }

    #topbar.visible ~ #leftright_page_wrapper #right-side {
        top: 72px;
    }

    #player_boards {
        display: flex;
        flex-wrap: wrap;

        .player-board {
            order: 2;
            clear: both;
            float: none;
        }

        #player_board_config {
            order: 3;
        }
    }

    #player_board_config {
        margin-top: -5px;
        padding-bottom: 10px;
        border-top-right-radius: 0px;
    }
}

#logs {
    .log .roundedbox {
        background-color: #0000008c;
        color: white;

        .replay_last_move_button {
            color: white;
            border-color: white;

            .icon32 {
                filter: invert(100%);
            }
        }
    }
}

#altered-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 0.6s;
    opacity: 0;

    &.active {
        background-color: #0f1b22c0;
        pointer-events: all;
        opacity: 1;
    }

    #altered-overlay-content {
        font-family: "Jali Greek Variable";
        padding-right: 250px;
        .mobile_version & {
            padding-right: 0px;
        }

        h2 {
            text-align: center;
            color: gold;
            font-size: 55px;
            font-weight: bold;
            text-decoration: underline;
            margin-bottom: 40px;
            background: linear-gradient(
                90deg,
                rgba(235, 138, 0, 1) 15%,
                rgba(252, 189, 26, 1) 50%,
                rgba(235, 138, 0, 1) 85%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 40px;
        }

        #overlay-hand-container {
            max-width: calc(0.9 * (100vw - 250px));
            .mobile_version & {
                max-width: 90vw;
            }
            --cardScale: 0.5;

            .player-hand {
                display: flex;
                flex-wrap: wrap;
            }
        }

        #overlay-deck-container {
            max-width: calc(0.9 * (100vw - 250px));
            .mobile_version & {
                max-width: 90vw;
            }
            --cardScale: 0.5;
            display: flex;
            flex-wrap: wrap;
        }
    }
}

#focus-storm-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    pointer-events: none;

    #focus-storm-top,
    #focus-storm-middle,
    #focus-storm-bottom {
        transition: opacity 0.6s;
        opacity: 0;
    }
    &.opponentPassed {
        #focus-storm-top {
            opacity: 0.5;
        }
    }
    &.mePassed {
        #focus-storm-middle,
        #focus-storm-bottom {
            opacity: 0.5;
        }
    }
    &.active {
        #focus-storm-top,
        #focus-storm-middle,
        #focus-storm-bottom {
            opacity: 1;
        }
    }

    #focus-storm-top {
        height: calc(var(--boardScale) * 460px);
        width: 100%;
        box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.8);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
    }

    #focus-storm-middle {
        height: calc(var(--boardScale) * 460px);
        width: 100%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
        margin-top: calc(var(--boardScale) * 80px);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
    }

    #focus-storm-bottom {
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        flex-grow: 1;
    }
}
