// #topbar {
//     margin-top: -66px;
//     transition: margin 0.5s;

//     &.visible {
//         margin-top: 0px;
//     }
// }
#game_play_area {
    margin-top: 0px;
}

#left-side-wrapper {
    margin-top: 0px;
}

#page-title {
    position: relative;
    z-index: 2;
}
.current_player_is_active #page-title,
.gamestate_gameEnd #page-title,
#page-title {
    background: #464660;
    color: white;
    border-radius: 6px;
    border: 1px solid #bc8441;
    // box-shadow: 0px 0px 6px -1px #ffd700c4;

    .bgabutton_gray {
        border: 1px solid white;
        box-shadow: 0 0 0 white;
        color: white;
        text-shadow: none;

        &:hover {
            color: black;
        }
    }
}

#right-side {
    float: left;
    margin-left: -240px;
    margin-top: -7px;
    width: 240px;

    #player_boards .player-board:nth-child(1) {
        border-top-left-radius: 0px;
    }
}

.player-board {
    background-color: #464660;
    border-radius: 8px 0 0 8px;
    // border: 1px solid #bc8441 !important;
    // box-shadow: 0px 0px 6px -1px #b99e02c4;
    clear: both;
    padding: 5px 3px;
    color: #e2e2e2;
    margin: 0px -1px;
    margin-bottom: 5px;

    position: relative;
    background-clip: padding-box;
    border: 1px solid transparent !important;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(50deg, #bc8441 15%, #eac557 25%, #eaab57 50%, #eaab57 75%, #bc8441 85%);
    }

    &.spectator-mode {
        .roundedbox_top,
        .roundedbox_main,
        .roundedbox_bottom {
            display: none;
        }
    }
}

#player_board_config {
    position: relative;
    border-image: none;
    margin-top: -2px;
    padding-bottom: 7px;
}

.mobile_version {
    #right-side {
        top: 8px;
        transition: top 0.5s;
    }

    #topbar.visible ~ #leftright_page_wrapper #right-side {
        top: 72px;
    }

    #player_boards {
        display: flex;
        flex-wrap: wrap;

        .player-board {
            order: 2;
            clear: both;
            float: none;
        }

        #player_board_config {
            order: 3;
        }
    }

    #player_board_config {
        margin-top: -5px;
        padding-bottom: 10px;
        border-top-right-radius: 0px;
    }
}

#logs {
    .log .roundedbox {
        background-color: #393955;
        color: #dfdede;
        border: 1px solid #66688a;
        border-radius: 4px;

        .replay_last_move_button {
            color: white;
            border-color: white;

            .icon32 {
                filter: invert(100%);
            }
        }
    }

    .log.notif_newPhase .roundedbox {
        background: radial-gradient(#4b7c85, #355b62);
        text-align: center;
        color: #dbaf4e;
        border-color: #acacac;
        font-weight: bold;
        font-family: "Tiller";
        font-size: 16px;
        padding: 5px 2px 3px;
    }
}

.pageheader {
    z-index: 20;
}

#table-decision {
    position: relative;
    z-index: 20;
    background: #d2be7f;
}

.desktop_version #chatbardock {
    right: 0px;
}

.chatwindowcollapsed {
    background: #5e5e71;
    .chatwindowcollapsedtitle {
        color: white;
    }
}
.notouch-device .chatwindowcollapsed:hover {
    background: #3f3f51;
}

.chatwindowlogs,
.chatwindowexpanded {
    background: #beb6c6;
}

.chatinput {
    background: #e1e1e1;
}
