#popin_showSettings {
    background-color: #ebd5bd;
    border-radius: 8px;
    box-shadow: 0 3px 8px black;
    position: relative;

    .altered_popin_closeicon {
        background-color: #a47a77;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -18px;
        right: -18px;
        font-size: 90%;
        color: white !important;
        border: 1px solid #35302d;
        z-index: 2;

        &:hover {
            text-decoration: none;
            color: #ccc !important;
            transform: scale(1.1);
        }

        i {
            margin-top: -2px;
        }
    }

    h2 {
        font-family: MyriadPro-Semibold;
        text-align: center;
        font-size: 25px;
        margin: 0px;
        background: #b79570;
        border-radius: 8px 8px 0px 0px;
        padding: 11px 0px 3px;
        border-bottom: 1px solid #734f2a;
    }
}

.altered_discard_popin,
.altered_mana_popin {
    --cardScale: 1;
    width: 90vw;
    display: flex;
    flex-flow: column;
    justify-content: center;

    h2 {
        background: #fffd;
        border-radius: 4px;
        margin: auto;
        padding: 7px 15px;
        border: 1px solid white;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .discard-modal {
        .player-board-discard {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .mana-modal {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .altered-card.tapped {
            transform: none;
            &::before {
                content: "\e924";
                position: absolute;
                font-family: "icomoon" !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                vertical-align: bottom;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background: white;
                display: block;
                z-index: 5;
                border-radius: 25%;
                padding: 2px;
                font-size: 20px;
                left: calc(50% - 13px);
                top: -16px;
            }
        }
    }
}

.altered_mana_popin {
    h2 {
        width: 90%;
        text-align: center;
    }

    .altered_mana_popin_closeicon {
        position: absolute;
        right: 5%;
        top: 1px;
        color: black;
        font-size: 20px;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        min-width: 80%;
        background: #fffd;
        border-radius: 4px;
        margin: auto;
        padding: 7px 15px;
        border: 1px solid white;
        margin-top: -15px;
        margin-bottom: 20px;
        font-size: 18px;
        text-align: center;
        min-height: 26px;

        .bgabutton {
            margin-top: -3px;
            margin-bottom: -2px;
        }
    }
}

#popin_showAllCards_underlay {
    opacity: 1 !important;
}
#popin_showAllCards {
    width: 90%;
    height: 95%;
    overflow: auto;
    --cardScale: 1;
    #all-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card-compare {
            margin: 5px;
            display: flex;
            border-radius: 8px;
            border: 2px solid white;

            .card-mockup {
                width: 324px;
                height: 450px;
                background-size: 100%;
                margin: 3px 0px;
            }
        }
    }
}

#popin_helperModal {
    width: 900px;
    position: relative;

    .altered_popin_closeicon {
        background-color: #d6a944;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -11px;
        right: -18px;
        font-size: 90%;
        color: white !important;
        border: 1px solid #35302d;
        z-index: 2;

        &:hover {
            text-decoration: none;
            color: #eee !important;
            transform: scale(1.1);
        }

        i {
            margin-top: -2px;
        }
    }

    #altered-helpers {
        display: flex;

        #helper-phases,
        #helper-icons {
            width: 430px;
            height: 628px;
            background-size: 100% auto;
            border-radius: 15px;
            border: 4px solid black;
            color: white;
            font-family: "Jali Greek Variable";
            padding-right: 10px;
            flex-shrink: 0;

            h2 {
                color: #d6a944;
                font-family: "Tiller";
                text-transform: uppercase;
                text-align: center;
                font-size: 29px;
                padding-left: 74px;
                line-height: 38px;
                margin-bottom: 30px;
            }

            h3 {
                color: #d6a944;
                font-weight: bold;
                padding-left: 5px;
                font-size: 17px;

                .icon-container {
                    margin: -0.2em 0em 0em;
                }
            }

            h4 {
                margin-top: 5px;
                margin-left: 33px;
            }

            ul {
                padding-left: 50px;
                li {
                    list-style-type: disc;
                    &::marker {
                        color: #d6a944;
                    }
                }
            }

            .svgicon-discard .path2::before {
                color: black;
            }

            div.icon-item {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    width: 289px;
                    height: 73px;
                    margin: 7px 19px 5px 120px;
                    font-size: 23px;
                    display: flex;
                    align-items: center;
                }

                &:nth-of-type(4),
                &:nth-of-type(5),
                &:nth-of-type(6),
                &:nth-of-type(7) {
                    width: 109px;
                    height: 51px;
                    margin: 5px 10px 3px 291px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                }
                &:nth-of-type(4) {
                    margin-top: 47px;
                }
            }
        }

        #helper-phases {
            background-image: url("img/helper-phases.jpg");
        }
        #helper-icons {
            background-image: url("img/helper-icons.jpg");
            margin-left: 10px;

            h2 {
                margin-bottom: 40px;
            }
        }
    }
}
