.altered-player-board-resizable {
    order: 3;
    margin: 5px 0px;
    width: 1200px;
    height: 343px;
    border: 2px solid white;
    border-radius: 10px;
    background: #ffffff36;
    position: relative;
    display: flex;
    flex-flow: column;

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
    }
    &[data-faction="MU"]::before {
        background-image: url("img/mats/04.jpg");
    }
    &[data-faction="BR"]::before {
        background-image: url("img/mats/02.jpg");
    }

    &.above {
        .player-board-bottom {
            order: 1;
        }
        .player-board-middle {
            order: 2;
        }
        .player-board-top {
            order: 3;
        }
    }

    .player-board-top,
    .player-board-middle,
    .player-board-bottom {
        width: 100%;
        display: flex;
        height: $cardHeight + 2 * $boardMargin + 2 * 5px;

        & > div {
            height: $cardHeight + 2 * $boardMargin;
            margin: 5px;
            background: rgba(255, 255, 255, 0.568);
            border: 2px solid black;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selectable {
                border: 2px dashed black;
                cursor: pointer;

                &:hover {
                    border: 2px solid red;
                }
            }
        }
    }

    .player-board-top {
        .player-board-alterer {
            width: $cardWidth + 2 * $boardMargin;
            flex-shrink: 0;
        }

        .player-board-storm {
            flex-grow: 1;

            .total-biomes {
                position: absolute;
                width: 100px;
                left: -102px;
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                z-index: -1;

                .total-forest,
                .total-mountain,
                .total-ocean {
                    font-family: "Haptic Pro";
                    padding: 0px 10px;
                    color: white;
                    box-shadow: 0px 0px 3px 1px black;
                    text-shadow: 0px 0px 6px black;

                    height: 50px;
                    width: 30px;
                    margin-bottom: 2px;

                    font-size: 32px;
                    line-height: 58px;
                    font-weight: bold;
                    text-align: right;

                    &[data-size="0"] {
                        width: 15px;
                        opacity: 0.5;
                    }
                    &[data-size="1"] {
                        width: 20px;
                    }
                    &[data-size="3"] {
                        width: 40px;
                    }
                }

                .total-forest {
                    background: #abb648;
                    border-radius: 14px 0 0 4px;
                }
                .total-mountain {
                    background: #af7b51;
                    border-radius: 4px 0 0 4px;
                }
                .total-ocean {
                    background: #6b93c0;
                    border-radius: 4px 0 0 14px;
                }
            }

            &:nth-of-type(3) {
                .total-biomes {
                    left: calc(100% + 2px);
                    align-items: flex-start;

                    .total-forest,
                    .total-mountain,
                    .total-ocean {
                        text-align: left;
                    }
                }

                .total-forest {
                    border-radius: 0 14px 4px 0;
                }
                .total-mountain {
                    border-radius: 0 4px 4px 0px;
                }
                .total-ocean {
                    border-radius: 0 4px 14px 0;
                }
            }
        }
    }

    .player-board-middle {
        .player-board-deck {
            width: $cardWidth + 2 * $boardMargin;
            flex-shrink: 0;

            .deck-counter-holder {
                width: $cardWidth;
                height: $cardHeight;
                background: url("img/back-main.jpg");
                background-size: 100% 100%;
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;

                .deck-counter {
                    font-family: "Haptic Pro";
                    color: black;
                    background: #ffffffa0;
                    font-size: 30px;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    box-shadow: 0px 0px 13px white;
                    text-align: center;
                    line-height: 50px;
                    text-shadow: 0px 0px 3px white;
                }
            }
        }
        .player-board-discard {
            width: $cardWidth + 2 * $boardMargin;
            flex-shrink: 0;
            position: relative;

            .altered-card {
                position: absolute;
                filter: grayscale(80%);
                -webkit-transform: translateZ(0);
                -webkit-perspective: 1000;
                -webkit-backface-visibility: hidden;
            }
        }

        .player-board-memory {
            flex-grow: 1;
        }

        .player-board-permanents {
            width: 2 * ($cardWidth + 2 * $boardMargin);
            flex-shrink: 0;
        }

        .player-board-limbo {
            width: $cardWidth + 2 * $boardMargin;
            flex-shrink: 0;
            position: relative;
            &:empty:not(.selectable) {
                display: none;
            }
        }
    }
}
