.altered-player-board {
    width: 1530px;
    height: 486px;
    position: relative;

    .mana-cards-holder {
        display: none; // TODO
    }

    .player-board-hero {
        position: absolute;
        width: $cardWidth; // + 2 * $boardMargin;
        height: $cardHeight; // + 2 * $boardMargin;
        // background: #ffffff78;
        // border: 1px solid black;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        .altered-first-player-holder {
            position: absolute;
            height: 60px;
            width: 60px;
            right: 1px;
            top: 90px;
            z-index: 3;
            pointer-events: none;
        }

        .altered-card {
            box-shadow:
                2px 2px 5px 1px black,
                0px 0px 0px 0px #ffe300;
            transition:
                box-shadow 0.5s,
                transform 0.5s;

            &.tapped {
                transform: scale(0.8) rotate(90deg);
            }
        }

        &.active .altered-card {
            box-shadow:
                2px 2px 5px 1px black,
                0px 0px 19px 13px #ffe300;

            &.selectable {
                box-shadow:
                    0px 0px 7px 4px lime,
                    0px 0px 19px 13px #ffe300;
                transition: none;
            }
        }
    }

    .player-board-storm {
        position: absolute;
        width: 436px;
        height: $miniCardHeight + 2 * $boardMargin;
        display: flex;
        justify-content: center;
        align-items: center;
        &.storm-left {
            left: 289px;
        }
        &.storm-right {
            left: 871px;
        }

        border: 2px solid transparent;
        border-radius: 5px;
        &.selectable {
            border: 2px solid rgb(89, 172, 68);
            background: rgba(24, 219, 24, 0.2);
            cursor: pointer;

            &:hover {
                border: 2px solid rgb(51, 129, 32);
                background: rgba(17, 153, 17, 0.3);
            }
        }

        .flip-container {
            width: calc(#{$miniCardScale * 324px} + 14px);
            height: calc(#{$miniCardScale * 324px} + 10px);
        }

        .total-biomes {
            position: absolute;
            width: 100px;
            left: -135px;
            top: -4px;

            .total-biomes-highlights {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;

                div {
                    padding: 0px 10px;
                    color: #e6e4e4;

                    height: 46px;
                    width: 60px;
                    margin-bottom: 5px;
                }
            }

            .total-biomes-highlights div,
            .total-forest,
            .total-mountain,
            .total-ocean {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                border-top-left-radius: 36px 18px;
                border-bottom-left-radius: 36px 18px;
            }

            .total-forest,
            .total-mountain,
            .total-ocean {
                position: relative;
                z-index: 1;
                font-family: "Haptic Pro";
                padding: 0px 10px;
                color: #e6e4e4;
                text-shadow: 0px 0px 6px black;

                height: 46px;
                width: 60px;
                margin-bottom: 5px;
                font-size: 32px;
                line-height: 52px;
                font-weight: bold;
                text-align: right;

                transition: opacity 0.5s;
                [data-tie-breaker="1"] & {
                    opacity: 0.7;
                }

                // background-image: url("img/gems.png");
                // background-size: 200% 300%;

                &::before {
                    display: block;
                    position: absolute;
                    left: -5px;
                    top: 4px;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    font-family: "icomoon" !important;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 22px;
                    line-height: 36px;
                    text-shadow: none;
                    box-shadow: 1px 1px 3px black;
                    text-align: center;
                }

                &::after {
                    content: "\f0da";
                    display: block;
                    position: absolute;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 30px;
                    text-rendering: auto;
                    top: 8px;
                    right: -22px;
                    color: #cac7c7;
                    text-shadow:
                        0px 0px 4px black,
                        0px 0px 4px black;
                    opacity: 1;
                    transition:
                        opacity 0.5s,
                        color 0.5s;
                }
                &[data-will-progress="0"]::after,
                [data-tie-breaker="1"] &::after {
                    opacity: 0;
                }
                &[data-will-progress="2"]::after {
                    color: #05ec05;
                }
            }
            .total-forest {
                background: #799c00;
                &::before {
                    content: "\e90a";
                    background: #98b23f;
                }
            }
            .total-mountain {
                background: #bb690f;
                &::before {
                    content: "\e90e";
                    background: #d4854c;
                }
            }
            .total-ocean {
                background: #006d97;
                &::before {
                    content: "\e90f";
                    background: #4c76a9;
                }
            }

            .total-forest.bigger ~ .total-biomes-highlights .total-forest-highlight,
            .total-mountain.bigger ~ .total-biomes-highlights .total-mountain-highlight,
            .total-ocean.bigger ~ .total-biomes-highlights .total-ocean-highlight {
                box-shadow: 0px 0px 9px 5px #ff0;
            }
        }

        &.storm-right {
            .total-biomes {
                left: 492px;
            }

            .total-forest,
            .total-mountain,
            .total-ocean {
                // background-position-x: 100%;
                text-align: left;

                &::before {
                    left: 50px;
                }
                &::after {
                    content: "\f0d9";
                    right: auto;
                    left: -20px;
                }
            }

            .total-biomes-highlights div,
            .total-forest,
            .total-mountain,
            .total-ocean {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                border-top-right-radius: 36px 18px;
                border-bottom-right-radius: 36px 18px;
            }
        }
    }

    .player-board-discard {
        width: $cardWidth + 2 * $boardMargin;
        position: absolute;
        left: 150px;
        cursor: zoom-in;

        .altered-card {
            position: absolute;
            filter: grayscale(80%);
            -webkit-transform: translateZ(0);
            -webkit-perspective: 1000;
            -webkit-backface-visibility: hidden;
        }
    }

    .player-board-deck {
        width: $cardWidth + 2 * $boardMargin;
        left: 271px;
        position: absolute;

        .altered-card {
            position: absolute;
            top: 0;
        }

        .deck-counter-holder {
            width: $cardWidth;
            height: $cardHeight;
            // background: url("img/back-main.jpg");
            // background-size: 100% 100%;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            .deck-counter {
                font-family: "Haptic Pro";
                color: black;
                background: #ffffffa0;
                font-size: 30px;
                border-radius: 50%;
                width: 45px;
                height: 45px;
                box-shadow: 0px 0px 13px white;
                text-align: center;
                line-height: 50px;
                text-shadow: 0px 0px 3px white;
                font-size: 26px;
            }
        }
    }

    .player-board-mana-wrapper {
        position: absolute;
        left: 80px;
        display: flex;
        width: 60px;
        height: 495px;

        .player-board-mana-indicator {
            height: 54px;
            margin-top: 4px;
            font-family: "Haptic Pro";
            color: #e6e4e4;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 18px;

            h6 {
                font-size: 14px;
                font-weight: bold;
                margin: 4px 0px 4px -30px;

                .icon-container {
                    margin-right: 3px;
                    .icon-first-player {
                        width: 25px;
                        height: 25px;
                    }
                }
            }

            .mana-counters-wrapper {
                margin: 3px 0px;
            }
        }

        .player-board-mana-gauge {
            display: flex;
            padding: 4px 6px 4px 2px;
            flex-grow: 1;
            align-items: center;
            z-index: 99;

            .altered-card {
                transition:
                    transform 0.6s ease-in,
                    left 0.6s ease-in,
                    top 0.6s ease-in;
                z-index: 99;
            }

            .mana-gauge-slot {
                width: 34px;
                height: 16px;
                background: #153038;
                margin: 2px 0px;
                border-radius: 8px;
                border: 1px solid #009ee3;

                .mana-gem {
                    display: none;
                    width: 34px;
                    height: 16px;
                    background: #009ee3;
                    border-radius: 6px;
                }

                &.available .mana-gem {
                    display: block;
                }
            }
        }
    }

    .player-board-grass {
        position: absolute;
        width: 1046px;
        height: 165px;
        left: 413px;
        display: flex;

        .player-board-reserve {
            display: flex;
            justify-content: flex-start;
            flex-grow: 1;

            .altered-card {
                z-index: 30;
                margin-left: 10px;

                transition:
                    left 0.2s ease-in,
                    top 0.2s ease-in;
                &[data-animation-speed="none"] {
                    transition: none;
                }

                &.selected:not([data-animation-speed="none"]) {
                    transition:
                        transform 0.2s ease-in,
                        left 0.2s ease-in,
                        top 0.2s ease-in;
                }
            }

            .flip-container {
                width: calc(#{$miniCardScale * 324px} + 14px);
                height: calc(#{$miniCardScale * 324px} + 10px);
            }
        }

        .player-board-separator {
            width: 28px;
            height: 165px;
            background: url("img/separator-reserve-landmark.png");
            background-size: 100% 100%;
        }
        .player-board-landmarks {
            min-width: 276px;
            background: url("img/landmark-slot.png");
            background-size: auto 95%;
            background-repeat: repeat-x;
            display: flex;
            flex-flow: row-reverse;
            align-items: center;
            border: 2px solid transparent;
            border-radius: 7px;

            &.selectable {
                border: 2px solid rgb(89, 172, 68);
                background-color: rgba(24, 219, 24, 0.2);
                cursor: pointer;

                &:hover {
                    border: 2px solid rgb(51, 129, 32);
                    background-color: rgba(17, 153, 17, 0.3);
                }

                .altered-card {
                    pointer-events: none;
                }
            }
        }

        .reserve-warning,
        .landmark-warning {
            position: absolute;
            background: #133015;
            color: #e5b232;
            border: 1px solid #e5ba3e;
            padding: 1px 6px 2px 6px;
            font-size: 14px;
            height: 15px;
            border-radius: 7px;
            font-weight: bold;
            box-shadow: 0px 0px 3px gold;
            display: none;
        }

        .reserve-warning {
            left: 30px;
        }
        .landmark-warning {
            left: 780px;
            z-index: 2;
        }

        .player-board-reserve.danger ~ .reserve-warning {
            display: block;
        }
        .player-board-landmarks.danger ~ .landmark-warning {
            display: block;
        }
    }

    .player-board-hand {
        position: absolute;
        width: 100%;
        z-index: 100;

        .player-board-limbo {
            position: absolute;
            width: $cardWidth;
            height: $cardHeight;
            left: 780px;
            z-index: 40;
            pointer-events: none;

            .altered-card {
                transform: scale(1.2);
                pointer-events: all;
                margin: 0px;
            }

            #btnLaunchSpell {
                pointer-events: all;
                position: absolute;
                bottom: -40px;
                left: 15px;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;

                animation: pulse-animation 1.2s infinite;

                @keyframes pulse-animation {
                    0% {
                        box-shadow: 0 0 0 0px rgba(255, 219, 12, 0.8);
                    }
                    100% {
                        box-shadow: 0 0 0 10px rgba(255, 219, 12, 0.1);
                    }
                }

                .svgicon-spell {
                    margin-top: -0.15em;
                }
            }
        }

        .player-hand {
            // display: flex;
            // justify-content: center;

            .flip-container {
                position: absolute;
                width: calc(var(--cardScale) * 324px);
                height: calc(var(--cardScale) * 450px);
                border: 2px solid transparent;
                border-radius: 7px;
            }

            .altered-card {
                position: absolute;
                margin: 0px;
                transition:
                    transform 0.2s ease-in,
                    left 0.2s ease-in,
                    top 0.2s ease-in;
                &[data-animation-speed="medium"] {
                    transition:
                        transform 0.6s ease-in,
                        left 0.6s ease-in,
                        top 0.6s ease-in;
                }
                &[data-animation-speed="none"] {
                    transition: none;
                }

                &:not(.card-back):not(.selected):hover {
                    transform: scale(1.15) rotate(0rad) translateY(-80px) !important;
                    z-index: 99;
                }

                // &.selected {
                //     transition:
                //         transform 0.5s linear,
                //         left 0.5s,
                //         top 0.5s;
                // }

                &.limbo {
                    visibility: hidden;
                }

                &.selected {
                    z-index: 30;
                }
            }
        }
    }
}

#altered-board-opponent .altered-player-board {
    .player-board-hero {
        top: 310px;
        left: 745px;
    }

    .player-board-storm {
        top: 309px;
    }

    .player-board-deck {
        top: 136px;
    }
    .player-board-discard {
        top: 131px;
    }

    .player-board-mana-wrapper {
        top: -2px;
        flex-flow: column;
        .player-board-mana-gauge {
            flex-flow: column-reverse;
        }

        .player-board-mana-indicator {
            flex-flow: column-reverse;
        }
    }

    .player-board-hand {
        bottom: 370px;
        .altered-card {
        }

        .player-board-limbo {
            top: 130px;
        }
    }

    .player-board-grass {
        top: 129px;
        .player-board-reserve {
            align-items: flex-end;
            padding-bottom: 10px;
            padding-left: 22px;
        }

        .player-board-separator {
            margin-top: 13px;
            margin-right: 5px;
        }

        .player-board-landmarks {
            background-position: -6px 21px;

            .altered-card {
                margin: 42px 27px 0px 4px;
            }
        }

        .reserve-warning,
        .landmark-warning {
            bottom: -15px;
        }
    }
}

#altered-board-me .altered-player-board {
    .player-board-hero {
        top: 42px;
        left: 745px;
    }

    .player-board-storm {
        top: 67px;

        .total-biomes {
            top: -26px;
        }
    }

    .player-board-deck {
        top: 211px;
    }
    .player-board-discard {
        top: 216px;
    }

    .player-board-mana-wrapper {
        top: 7px;
        flex-flow: column-reverse;
    }
    .player-board-mana-gauge {
        flex-flow: column;
    }

    .player-board-hand {
        top: 370px;
        .player-board-limbo {
            top: -265px;
        }
    }

    .player-board-grass {
        top: 202px;
        .player-board-reserve {
            align-items: flex-start;
            padding-top: 15px;
            padding-left: 22px;
        }

        .player-board-separator {
            margin-top: -20px;
        }

        .player-board-landmarks {
            background-position: -6px -15px;

            .altered-card {
                margin: -30px 27px 0px 4px;
            }
        }

        .reserve-warning,
        .landmark-warning {
            top: -10px;
        }
    }
}

// .player-board-middle {
//     .player-board-discard {
//         width: $cardWidth + 2 * $boardMargin;
//         flex-shrink: 0;
//         position: relative;

//         .altered-card {
//             position: absolute;
//             filter: grayscale(80%);
//             -webkit-transform: translateZ(0);
//             -webkit-perspective: 1000;
//             -webkit-backface-visibility: hidden;
//         }
//     }

//     .player-board-reserve {
//         flex-grow: 1;
//     }

//     .player-board-permanents {
//         width: 2 * ($cardWidth + 2 * $boardMargin);
//         flex-shrink: 0;
//     }

//     .player-board-limbo {
//         width: $cardWidth + 2 * $boardMargin;
//         flex-shrink: 0;
//         position: relative;
//         &:empty:not(.selectable) {
//             display: none;
//         }
//     }
// }

// .player-board-top,
// .player-board-middle,
// .player-board-bottom {
//     width: 100%;
//     display: flex;
//     height: $cardHeight + 2 * $boardMargin + 2 * 5px;

//     & > div {
//         height: $cardHeight + 2 * $boardMargin;
//         margin: 5px;
//         background: rgba(255, 255, 255, 0.568);
//         border: 2px solid black;
//         border-radius: 5px;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         &.selectable {
//             border: 2px dashed black;
//             cursor: pointer;

//             &:hover {
//                 border: 2px solid red;
//             }
//         }
//     }
// }
