.player-name {
    svg {
        width: 25px;
        height: 21px;
        cursor: pointer;
        vertical-align: bottom;
        margin-left: 3px;
    }
}

.altered-first-player-holder {
    position: absolute;
    height: 40px;
    right: 49px;
    top: 7px;
    width: 40px;
}

.player_score {
    .player_score_value {
        display: none;
    }
}

.player-info {
    display: flex;
    justify-content: space-between;

    .mana-counter-holder {
        font-family: "Jali Greek Variable";
        font-size: 20px;
        text-align: center;
    }

    .altered-card {
        position: absolute;
    }
}
