:root {
    --boardScale: 1;
}

$cardWidth: 110px;
$miniCardHeight: 110px;
$cardHeight: 150px;
$boardMargin: 5px;

$goldRareColor: #9f794a;
$goldRareCostColor: #eebc52;

$illustrations: (
    "AX": "ALT_CORE_B_AX_01_C" "ALT_CORE_B_AX_02_C" "ALT_CORE_B_AX_03_C" "ALT_CORE_B_AX_04_C" "ALT_CORE_B_AX_05_C"
        "ALT_CORE_B_AX_06_C" "ALT_CORE_B_AX_07_C" "ALT_CORE_B_AX_08_C" "ALT_CORE_B_AX_09_C" "ALT_CORE_B_AX_10_C"
        "ALT_CORE_B_AX_10_R1" "ALT_CORE_B_AX_11_C" "ALT_CORE_B_AX_12_C" "ALT_CORE_B_AX_12_R1" "ALT_CORE_B_AX_13_C"
        "ALT_CORE_B_AX_14_C" "ALT_CORE_B_AX_15_C" "ALT_CORE_B_AX_16_C" "ALT_CORE_B_AX_17_C" "ALT_CORE_B_AX_18_C"
        "ALT_CORE_B_AX_19_C" "ALT_CORE_B_AX_20_C" "ALT_CORE_B_AX_21_C" "ALT_CORE_B_AX_22_C" "ALT_CORE_B_AX_23_C"
        "ALT_CORE_B_AX_24_C" "ALT_CORE_B_AX_25_C" "ALT_CORE_B_AX_25_R1" "ALT_CORE_B_AX_26_C" "ALT_CORE_B_AX_27_C"
        "ALT_CORE_B_AX_28_C" "ALT_CORE_B_AX_29_C" "ALT_CORE_B_AX_30_C" "ALT_CORE_B_AX_31_C",
    "BR": "ALT_CORE_B_BR_01_C" "ALT_CORE_B_BR_02_C" "ALT_CORE_B_BR_03_C" "ALT_CORE_B_BR_04_C" "ALT_CORE_B_BR_04_R1"
        "ALT_CORE_B_BR_05_C" "ALT_CORE_B_BR_06_C" "ALT_CORE_B_BR_07_C" "ALT_CORE_B_BR_07_R1" "ALT_CORE_B_BR_08_C"
        "ALT_CORE_B_BR_09_C" "ALT_CORE_B_BR_10_C" "ALT_CORE_B_BR_11_C" "ALT_CORE_B_BR_12_C" "ALT_CORE_B_BR_13_C"
        "ALT_CORE_B_BR_14_C" "ALT_CORE_B_BR_15_C" "ALT_CORE_B_BR_16_C" "ALT_CORE_B_BR_17_C" "ALT_CORE_B_BR_18_C"
        "ALT_CORE_B_BR_18_R1" "ALT_CORE_B_BR_19_C" "ALT_CORE_B_BR_20_C" "ALT_CORE_B_BR_21_C" "ALT_CORE_B_BR_22_C"
        "ALT_CORE_B_BR_23_C" "ALT_CORE_B_BR_24_C" "ALT_CORE_B_BR_25_C" "ALT_CORE_B_BR_26_C" "ALT_CORE_B_BR_27_C"
        "ALT_CORE_B_BR_28_C" "ALT_CORE_B_BR_29_C" "ALT_CORE_B_BR_30_C" "ALT_CORE_B_BR_31_C",
    "LY": "ALT_CORE_B_LY_01_C" "ALT_CORE_B_LY_02_C" "ALT_CORE_B_LY_03_C" "ALT_CORE_B_LY_04_C" "ALT_CORE_B_LY_05_C"
        "ALT_CORE_B_LY_06_C" "ALT_CORE_B_LY_07_C" "ALT_CORE_B_LY_08_C" "ALT_CORE_B_LY_09_C" "ALT_CORE_B_LY_10_C"
        "ALT_CORE_B_LY_10_R1" "ALT_CORE_B_LY_11_C" "ALT_CORE_B_LY_11_R1" "ALT_CORE_B_LY_12_C" "ALT_CORE_B_LY_13_C"
        "ALT_CORE_B_LY_14_C" "ALT_CORE_B_LY_15_C" "ALT_CORE_B_LY_16_C" "ALT_CORE_B_LY_17_C" "ALT_CORE_B_LY_18_C"
        "ALT_CORE_B_LY_19_C" "ALT_CORE_B_LY_20_C" "ALT_CORE_B_LY_20_R1" "ALT_CORE_B_LY_21_C" "ALT_CORE_B_LY_22_C"
        "ALT_CORE_B_LY_23_C" "ALT_CORE_B_LY_24_C" "ALT_CORE_B_LY_25_C" "ALT_CORE_B_LY_26_C" "ALT_CORE_B_LY_27_C"
        "ALT_CORE_B_LY_28_C" "ALT_CORE_B_LY_29_C" "ALT_CORE_B_LY_30_C" "ALT_CORE_B_LY_06_R1",
    "MU": "ALT_CORE_B_MU_01_C" "ALT_CORE_B_MU_02_C" "ALT_CORE_B_MU_03_C" "ALT_CORE_B_MU_04_C" "ALT_CORE_B_MU_05_C"
        "ALT_CORE_B_MU_06_C" "ALT_CORE_B_MU_07_C" "ALT_CORE_B_MU_08_C" "ALT_CORE_B_MU_08_R1" "ALT_CORE_B_MU_09_C"
        "ALT_CORE_B_MU_10_C" "ALT_CORE_B_MU_11_C" "ALT_CORE_B_MU_12_C" "ALT_CORE_B_MU_13_C" "ALT_CORE_B_MU_14_C"
        "ALT_CORE_B_MU_15_C" "ALT_CORE_B_MU_16_C" "ALT_CORE_B_MU_17_C" "ALT_CORE_B_MU_18_C" "ALT_CORE_B_MU_19_C"
        "ALT_CORE_B_MU_20_C" "ALT_CORE_B_MU_20_R1" "ALT_CORE_B_MU_21_C" "ALT_CORE_B_MU_22_C" "ALT_CORE_B_MU_23_C"
        "ALT_CORE_B_MU_24_C" "ALT_CORE_B_MU_25_C" "ALT_CORE_B_MU_26_C" "ALT_CORE_B_MU_27_C" "ALT_CORE_B_MU_27_R1"
        "ALT_CORE_B_MU_28_C" "ALT_CORE_B_MU_29_C" "ALT_CORE_B_MU_30_C",
    "OD": "ALT_CORE_B_OR_01_C" "ALT_CORE_B_OR_02_C" "ALT_CORE_B_OR_03_C" "ALT_CORE_B_OR_04_C" "ALT_CORE_B_OR_05_C"
        "ALT_CORE_B_OR_06_C" "ALT_CORE_B_OR_07_C" "ALT_CORE_B_OR_08_C" "ALT_CORE_B_OR_09_C" "ALT_CORE_B_OR_10_C"
        "ALT_CORE_B_OR_11_C" "ALT_CORE_B_OR_11_R1" "ALT_CORE_B_OR_12_C" "ALT_CORE_B_OR_13_C" "ALT_CORE_B_OR_14_C"
        "ALT_CORE_B_OR_15_C" "ALT_CORE_B_OR_15_R1" "ALT_CORE_B_OR_16_C" "ALT_CORE_B_OR_17_C" "ALT_CORE_B_OR_17_R1"
        "ALT_CORE_B_OR_18_C" "ALT_CORE_B_OR_19_C" "ALT_CORE_B_OR_20_C" "ALT_CORE_B_OR_21_C" "ALT_CORE_B_OR_22_C"
        "ALT_CORE_B_OR_23_C" "ALT_CORE_B_OR_24_C" "ALT_CORE_B_OR_25_C" "ALT_CORE_B_OR_26_C" "ALT_CORE_B_OR_27_C"
        "ALT_CORE_B_OR_28_C" "ALT_CORE_B_OR_29_C" "ALT_CORE_B_OR_30_C" "ALT_CORE_B_OR_31_C" "ALT_CORE_B_OR_32_C",
    "YZ": "ALT_CORE_B_YZ_01_C" "ALT_CORE_B_YZ_02_C" "ALT_CORE_B_YZ_03_C" "ALT_CORE_B_YZ_04_C" "ALT_CORE_B_YZ_05_C"
        "ALT_CORE_B_YZ_06_C" "ALT_CORE_B_YZ_07_C" "ALT_CORE_B_YZ_08_C" "ALT_CORE_B_YZ_09_C" "ALT_CORE_B_YZ_10_C"
        "ALT_CORE_B_YZ_11_C" "ALT_CORE_B_YZ_12_C" "ALT_CORE_B_YZ_12_R1" "ALT_CORE_B_YZ_13_C" "ALT_CORE_B_YZ_14_C"
        "ALT_CORE_B_YZ_15_C" "ALT_CORE_B_YZ_16_C" "ALT_CORE_B_YZ_16_R1" "ALT_CORE_B_YZ_17_C" "ALT_CORE_B_YZ_18_C"
        "ALT_CORE_B_YZ_19_C" "ALT_CORE_B_YZ_20_C" "ALT_CORE_B_YZ_21_C" "ALT_CORE_B_YZ_22_C" "ALT_CORE_B_YZ_22_R1"
        "ALT_CORE_B_YZ_23_C" "ALT_CORE_B_YZ_24_C" "ALT_CORE_B_YZ_25_C" "ALT_CORE_B_YZ_26_C" "ALT_CORE_B_YZ_27_C"
        "ALT_CORE_B_YZ_28_C" "ALT_CORE_B_YZ_29_C" "ALT_CORE_B_YZ_30_C" "ALT_CORE_B_YZ_31_C"
);

$factions: "AX" "BR" "LY" "MU" "OD" "YZ";
