:root {
    --boardScale: 1;
    --cardScaleTooltip: 1;
}

$cardWidth: 110px;
$miniCardHeight: 110px;
$cardHeight: 150px;
$boardMargin: 5px;

$goldRareColor: #9f794a;
$goldRareCostColor: #eebc52;

$illustrations: (
    "AX": "ALT_ALIZE_A_AX_35_C" "ALT_ALIZE_A_AX_35_R" "ALT_ALIZE_A_AX_35_U" "ALT_ALIZE_B_AX_31_C" "ALT_ALIZE_B_AX_32_C"
        "ALT_ALIZE_B_AX_32_R" "ALT_ALIZE_B_AX_32_U" "ALT_ALIZE_B_AX_33_C" "ALT_ALIZE_B_AX_33_R" "ALT_ALIZE_B_AX_33_U"
        "ALT_ALIZE_B_AX_34_C" "ALT_ALIZE_B_AX_34_R" "ALT_ALIZE_B_AX_34_U" "ALT_ALIZE_B_AX_35_C" "ALT_ALIZE_B_AX_35_R"
        "ALT_ALIZE_B_AX_35_U" "ALT_ALIZE_B_AX_36_C" "ALT_ALIZE_B_AX_36_R" "ALT_ALIZE_B_AX_36_U" "ALT_ALIZE_B_AX_37_C"
        "ALT_ALIZE_B_AX_37_R" "ALT_ALIZE_B_AX_37_U" "ALT_ALIZE_B_AX_38_C" "ALT_ALIZE_B_AX_38_R" "ALT_ALIZE_B_AX_38_U"
        "ALT_ALIZE_B_AX_39_C" "ALT_ALIZE_B_AX_39_R" "ALT_ALIZE_B_AX_39_U" "ALT_ALIZE_B_AX_40_C" "ALT_ALIZE_B_AX_40_R"
        "ALT_ALIZE_B_AX_40_U" "ALT_ALIZE_B_AX_41_C" "ALT_ALIZE_B_AX_41_R" "ALT_ALIZE_B_AX_42_C" "ALT_ALIZE_B_AX_42_R"
        "ALT_ALIZE_B_AX_43_C" "ALT_ALIZE_B_AX_43_R" "ALT_ALIZE_B_AX_43_U" "ALT_ALIZE_B_AX_44_C" "ALT_ALIZE_B_AX_44_R"
        "ALT_ALIZE_B_AX_44_U" "ALT_ALIZE_B_AX_45_C" "ALT_ALIZE_B_AX_45_R" "ALT_ALIZE_B_AX_46_C" "ALT_ALIZE_B_AX_46_R"
        "ALT_ALIZE_P_AX_48_C" "ALT_ALIZE_P_AX_48_R" "ALT_ALIZE_P_AX_48_U" "ALT_CORE_A_AX_31_C" "ALT_CORE_B_AX_01_C"
        "ALT_CORE_B_AX_02_C" "ALT_CORE_B_AX_03_C" "ALT_CORE_B_AX_04_C" "ALT_CORE_B_AX_04_R" "ALT_CORE_B_AX_04_U"
        "ALT_CORE_B_AX_05_C" "ALT_CORE_B_AX_05_R" "ALT_CORE_B_AX_05_U" "ALT_CORE_B_AX_06_C" "ALT_CORE_B_AX_06_R"
        "ALT_CORE_B_AX_06_U" "ALT_CORE_B_AX_07_C" "ALT_CORE_B_AX_07_R" "ALT_CORE_B_AX_07_U" "ALT_CORE_B_AX_08_C"
        "ALT_CORE_B_AX_08_R" "ALT_CORE_B_AX_08_U" "ALT_CORE_B_AX_09_C" "ALT_CORE_B_AX_09_R" "ALT_CORE_B_AX_09_U"
        "ALT_CORE_B_AX_10_C" "ALT_CORE_B_AX_10_R" "ALT_CORE_B_AX_10_U" "ALT_CORE_B_AX_11_C" "ALT_CORE_B_AX_11_R"
        "ALT_CORE_B_AX_11_U" "ALT_CORE_B_AX_12_C" "ALT_CORE_B_AX_12_R" "ALT_CORE_B_AX_12_U" "ALT_CORE_B_AX_13_C"
        "ALT_CORE_B_AX_13_R" "ALT_CORE_B_AX_13_U" "ALT_CORE_B_AX_14_C" "ALT_CORE_B_AX_14_R" "ALT_CORE_B_AX_14_U"
        "ALT_CORE_B_AX_15_C" "ALT_CORE_B_AX_15_R" "ALT_CORE_B_AX_15_U" "ALT_CORE_B_AX_16_C" "ALT_CORE_B_AX_16_R"
        "ALT_CORE_B_AX_16_U" "ALT_CORE_B_AX_17_C" "ALT_CORE_B_AX_17_R" "ALT_CORE_B_AX_17_U" "ALT_CORE_B_AX_18_C"
        "ALT_CORE_B_AX_18_R" "ALT_CORE_B_AX_18_U" "ALT_CORE_B_AX_19_C" "ALT_CORE_B_AX_19_R" "ALT_CORE_B_AX_19_U"
        "ALT_CORE_B_AX_20_C" "ALT_CORE_B_AX_20_R" "ALT_CORE_B_AX_21_C" "ALT_CORE_B_AX_21_R" "ALT_CORE_B_AX_22_C"
        "ALT_CORE_B_AX_22_R" "ALT_CORE_B_AX_23_C" "ALT_CORE_B_AX_23_R" "ALT_CORE_B_AX_24_C" "ALT_CORE_B_AX_24_R"
        "ALT_CORE_B_AX_25_C" "ALT_CORE_B_AX_25_R" "ALT_CORE_B_AX_26_C" "ALT_CORE_B_AX_26_R" "ALT_CORE_B_AX_27_C"
        "ALT_CORE_B_AX_27_R" "ALT_CORE_B_AX_28_C" "ALT_CORE_B_AX_28_R" "ALT_CORE_B_AX_29_C" "ALT_CORE_B_AX_29_R"
        "ALT_CORE_B_AX_30_C" "ALT_CORE_B_AX_30_R" "ALT_CORE_B_AX_31_C" "ALT_COREKS_B_AX_07_C" "ALT_COREKS_B_AX_07_R"
        "ALT_COREKS_B_AX_07_U" "ALT_COREKS_B_AX_18_C" "ALT_COREKS_B_AX_18_R" "ALT_COREKS_B_AX_18_U",

    "BR": "ALT_ALIZE_A_BR_37_C" "ALT_ALIZE_A_BR_37_R" "ALT_ALIZE_A_BR_37_U" "ALT_ALIZE_B_BR_31_C" "ALT_ALIZE_B_BR_32_C"
        "ALT_ALIZE_B_BR_32_R" "ALT_ALIZE_B_BR_32_U" "ALT_ALIZE_B_BR_33_C" "ALT_ALIZE_B_BR_33_R" "ALT_ALIZE_B_BR_33_U"
        "ALT_ALIZE_B_BR_34_C" "ALT_ALIZE_B_BR_34_R" "ALT_ALIZE_B_BR_34_U" "ALT_ALIZE_B_BR_35_C" "ALT_ALIZE_B_BR_35_R"
        "ALT_ALIZE_B_BR_35_U" "ALT_ALIZE_B_BR_36_C" "ALT_ALIZE_B_BR_36_R" "ALT_ALIZE_B_BR_36_U" "ALT_ALIZE_B_BR_37_C"
        "ALT_ALIZE_B_BR_37_R" "ALT_ALIZE_B_BR_37_U" "ALT_ALIZE_B_BR_38_C" "ALT_ALIZE_B_BR_38_R" "ALT_ALIZE_B_BR_38_U"
        "ALT_ALIZE_B_BR_39_C" "ALT_ALIZE_B_BR_39_R" "ALT_ALIZE_B_BR_39_U" "ALT_ALIZE_B_BR_40_C" "ALT_ALIZE_B_BR_40_R"
        "ALT_ALIZE_B_BR_40_U" "ALT_ALIZE_B_BR_41_C" "ALT_ALIZE_B_BR_41_R" "ALT_ALIZE_B_BR_42_C" "ALT_ALIZE_B_BR_42_R"
        "ALT_ALIZE_B_BR_42_U" "ALT_ALIZE_B_BR_43_C" "ALT_ALIZE_B_BR_43_R" "ALT_ALIZE_B_BR_44_C" "ALT_ALIZE_B_BR_44_R"
        "ALT_ALIZE_B_BR_45_C" "ALT_ALIZE_B_BR_45_R" "ALT_ALIZE_B_BR_46_C" "ALT_ALIZE_B_BR_46_R" "ALT_ALIZE_B_BR_48_C"
        "ALT_ALIZE_B_BR_48_R" "ALT_CORE_A_BR_31_C" "ALT_CORE_B_BR_01_C" "ALT_CORE_B_BR_02_C" "ALT_CORE_B_BR_03_C"
        "ALT_CORE_B_BR_04_C" "ALT_CORE_B_BR_04_R" "ALT_CORE_B_BR_04_U" "ALT_CORE_B_BR_05_C" "ALT_CORE_B_BR_05_R"
        "ALT_CORE_B_BR_05_U" "ALT_CORE_B_BR_06_C" "ALT_CORE_B_BR_06_R" "ALT_CORE_B_BR_06_U" "ALT_CORE_B_BR_07_C"
        "ALT_CORE_B_BR_07_R" "ALT_CORE_B_BR_07_U" "ALT_CORE_B_BR_08_C" "ALT_CORE_B_BR_08_R" "ALT_CORE_B_BR_08_U"
        "ALT_CORE_B_BR_09_C" "ALT_CORE_B_BR_09_R" "ALT_CORE_B_BR_09_U" "ALT_CORE_B_BR_10_C" "ALT_CORE_B_BR_10_R"
        "ALT_CORE_B_BR_10_U" "ALT_CORE_B_BR_11_C" "ALT_CORE_B_BR_11_R" "ALT_CORE_B_BR_11_U" "ALT_CORE_B_BR_12_C"
        "ALT_CORE_B_BR_12_R" "ALT_CORE_B_BR_12_U" "ALT_CORE_B_BR_13_C" "ALT_CORE_B_BR_13_R" "ALT_CORE_B_BR_13_U"
        "ALT_CORE_B_BR_14_C" "ALT_CORE_B_BR_14_R" "ALT_CORE_B_BR_14_U" "ALT_CORE_B_BR_15_C" "ALT_CORE_B_BR_15_R"
        "ALT_CORE_B_BR_15_U" "ALT_CORE_B_BR_16_C" "ALT_CORE_B_BR_16_R" "ALT_CORE_B_BR_16_U" "ALT_CORE_B_BR_17_C"
        "ALT_CORE_B_BR_17_R" "ALT_CORE_B_BR_17_U" "ALT_CORE_B_BR_18_C" "ALT_CORE_B_BR_18_R" "ALT_CORE_B_BR_18_U"
        "ALT_CORE_B_BR_19_C" "ALT_CORE_B_BR_19_R" "ALT_CORE_B_BR_19_U" "ALT_CORE_B_BR_20_C" "ALT_CORE_B_BR_20_R"
        "ALT_CORE_B_BR_20_U" "ALT_CORE_B_BR_21_C" "ALT_CORE_B_BR_21_R" "ALT_CORE_B_BR_21_U" "ALT_CORE_B_BR_22_C"
        "ALT_CORE_B_BR_22_R" "ALT_CORE_B_BR_22_U" "ALT_CORE_B_BR_23_C" "ALT_CORE_B_BR_23_R" "ALT_CORE_B_BR_23_U"
        "ALT_CORE_B_BR_24_C" "ALT_CORE_B_BR_24_R" "ALT_CORE_B_BR_24_U" "ALT_CORE_B_BR_25_C" "ALT_CORE_B_BR_25_R"
        "ALT_CORE_B_BR_26_C" "ALT_CORE_B_BR_26_R" "ALT_CORE_B_BR_27_C" "ALT_CORE_B_BR_27_R" "ALT_CORE_B_BR_28_C"
        "ALT_CORE_B_BR_28_R" "ALT_CORE_B_BR_29_C" "ALT_CORE_B_BR_29_R" "ALT_CORE_B_BR_30_C" "ALT_CORE_B_BR_30_R"
        "ALT_CORE_B_BR_31_C" "ALT_COREKS_B_BR_07_C" "ALT_COREKS_B_BR_07_R" "ALT_COREKS_B_BR_07_U" "ALT_COREKS_B_BR_22_C"
        "ALT_COREKS_B_BR_22_R" "ALT_COREKS_B_BR_22_U",

    "LY": "ALT_ALIZE_A_LY_34_C" "ALT_ALIZE_A_LY_34_R" "ALT_ALIZE_A_LY_34_U" "ALT_ALIZE_B_LY_31_C" "ALT_ALIZE_B_LY_31_R"
        "ALT_ALIZE_B_LY_31_U" "ALT_ALIZE_B_LY_32_C" "ALT_ALIZE_B_LY_32_R" "ALT_ALIZE_B_LY_32_U" "ALT_ALIZE_B_LY_33_C"
        "ALT_ALIZE_B_LY_33_R" "ALT_ALIZE_B_LY_33_U" "ALT_ALIZE_B_LY_34_C" "ALT_ALIZE_B_LY_34_R" "ALT_ALIZE_B_LY_34_U"
        "ALT_ALIZE_B_LY_35_C" "ALT_ALIZE_B_LY_35_R" "ALT_ALIZE_B_LY_35_U" "ALT_ALIZE_B_LY_36_C" "ALT_ALIZE_B_LY_36_R"
        "ALT_ALIZE_B_LY_36_U" "ALT_ALIZE_B_LY_37_C" "ALT_ALIZE_B_LY_37_R" "ALT_ALIZE_B_LY_37_U" "ALT_ALIZE_B_LY_38_C"
        "ALT_ALIZE_B_LY_38_R" "ALT_ALIZE_B_LY_38_U" "ALT_ALIZE_B_LY_39_C" "ALT_ALIZE_B_LY_39_R" "ALT_ALIZE_B_LY_40_C"
        "ALT_ALIZE_B_LY_40_R" "ALT_ALIZE_B_LY_41_C" "ALT_ALIZE_B_LY_41_R" "ALT_ALIZE_B_LY_42_C" "ALT_ALIZE_B_LY_42_R"
        "ALT_ALIZE_B_LY_43_C" "ALT_ALIZE_B_LY_43_R" "ALT_ALIZE_B_LY_44_C" "ALT_ALIZE_B_LY_44_R" "ALT_ALIZE_B_LY_45_C"
        "ALT_ALIZE_B_LY_45_R" "ALT_CORE_B_LY_01_C" "ALT_CORE_B_LY_02_C" "ALT_CORE_B_LY_03_C" "ALT_CORE_B_LY_04_C"
        "ALT_CORE_B_LY_04_R" "ALT_CORE_B_LY_04_U" "ALT_CORE_B_LY_05_C" "ALT_CORE_B_LY_05_R" "ALT_CORE_B_LY_05_U"
        "ALT_CORE_B_LY_06_C" "ALT_CORE_B_LY_06_R" "ALT_CORE_B_LY_06_U" "ALT_CORE_B_LY_07_C" "ALT_CORE_B_LY_07_R"
        "ALT_CORE_B_LY_07_U" "ALT_CORE_B_LY_08_C" "ALT_CORE_B_LY_08_R" "ALT_CORE_B_LY_08_U" "ALT_CORE_B_LY_09_C"
        "ALT_CORE_B_LY_09_R" "ALT_CORE_B_LY_09_U" "ALT_CORE_B_LY_10_C" "ALT_CORE_B_LY_10_R" "ALT_CORE_B_LY_10_U"
        "ALT_CORE_B_LY_11_C" "ALT_CORE_B_LY_11_R" "ALT_CORE_B_LY_11_U" "ALT_CORE_B_LY_12_C" "ALT_CORE_B_LY_12_R"
        "ALT_CORE_B_LY_12_U" "ALT_CORE_B_LY_13_C" "ALT_CORE_B_LY_13_R" "ALT_CORE_B_LY_13_U" "ALT_CORE_B_LY_14_C"
        "ALT_CORE_B_LY_14_R" "ALT_CORE_B_LY_14_U" "ALT_CORE_B_LY_15_C" "ALT_CORE_B_LY_15_R" "ALT_CORE_B_LY_15_U"
        "ALT_CORE_B_LY_16_C" "ALT_CORE_B_LY_16_R" "ALT_CORE_B_LY_16_U" "ALT_CORE_B_LY_17_C" "ALT_CORE_B_LY_17_R"
        "ALT_CORE_B_LY_17_U" "ALT_CORE_B_LY_18_C" "ALT_CORE_B_LY_18_R" "ALT_CORE_B_LY_18_U" "ALT_CORE_B_LY_19_C"
        "ALT_CORE_B_LY_19_R" "ALT_CORE_B_LY_19_U" "ALT_CORE_B_LY_20_C" "ALT_CORE_B_LY_20_R" "ALT_CORE_B_LY_20_U"
        "ALT_CORE_B_LY_21_C" "ALT_CORE_B_LY_21_R" "ALT_CORE_B_LY_21_U" "ALT_CORE_B_LY_22_C" "ALT_CORE_B_LY_22_R"
        "ALT_CORE_B_LY_23_C" "ALT_CORE_B_LY_23_R" "ALT_CORE_B_LY_24_C" "ALT_CORE_B_LY_24_R" "ALT_CORE_B_LY_25_C"
        "ALT_CORE_B_LY_25_R" "ALT_CORE_B_LY_26_C" "ALT_CORE_B_LY_26_R" "ALT_CORE_B_LY_27_C" "ALT_CORE_B_LY_27_R"
        "ALT_CORE_B_LY_28_C" "ALT_CORE_B_LY_28_R" "ALT_CORE_B_LY_29_C" "ALT_CORE_B_LY_29_R" "ALT_CORE_B_LY_30_C"
        "ALT_CORE_B_LY_30_R" "ALT_COREKS_B_LY_09_C" "ALT_COREKS_B_LY_09_R" "ALT_COREKS_B_LY_09_U" "ALT_COREKS_B_LY_21_C"
        "ALT_COREKS_B_LY_21_R" "ALT_COREKS_B_LY_21_U",

    "MU": "ALT_ALIZE_A_MU_35_C" "ALT_ALIZE_A_MU_35_R" "ALT_ALIZE_A_MU_35_U" "ALT_ALIZE_B_MU_31_C" "ALT_ALIZE_B_MU_31_R"
        "ALT_ALIZE_B_MU_31_U" "ALT_ALIZE_B_MU_32_C" "ALT_ALIZE_B_MU_32_R" "ALT_ALIZE_B_MU_32_U" "ALT_ALIZE_B_MU_33_C"
        "ALT_ALIZE_B_MU_33_R" "ALT_ALIZE_B_MU_33_U" "ALT_ALIZE_B_MU_34_C" "ALT_ALIZE_B_MU_34_R" "ALT_ALIZE_B_MU_34_U"
        "ALT_ALIZE_B_MU_35_C" "ALT_ALIZE_B_MU_35_R" "ALT_ALIZE_B_MU_35_U" "ALT_ALIZE_B_MU_36_C" "ALT_ALIZE_B_MU_36_R"
        "ALT_ALIZE_B_MU_36_U" "ALT_ALIZE_B_MU_37_C" "ALT_ALIZE_B_MU_37_R" "ALT_ALIZE_B_MU_37_U" "ALT_ALIZE_B_MU_38_C"
        "ALT_ALIZE_B_MU_38_R" "ALT_ALIZE_B_MU_38_U" "ALT_ALIZE_B_MU_39_C" "ALT_ALIZE_B_MU_39_R" "ALT_ALIZE_B_MU_39_U"
        "ALT_ALIZE_B_MU_40_C" "ALT_ALIZE_B_MU_40_R" "ALT_ALIZE_B_MU_40_U" "ALT_ALIZE_B_MU_41_C" "ALT_ALIZE_B_MU_41_R"
        "ALT_ALIZE_B_MU_41_U" "ALT_ALIZE_B_MU_42_C" "ALT_ALIZE_B_MU_42_R" "ALT_ALIZE_B_MU_43_C" "ALT_ALIZE_B_MU_43_R"
        "ALT_ALIZE_B_MU_43_U" "ALT_ALIZE_B_MU_44_C" "ALT_ALIZE_B_MU_44_R" "ALT_ALIZE_B_MU_45_C" "ALT_ALIZE_B_MU_45_R"
        "ALT_ALIZE_B_MU_45_U" "ALT_CORE_B_MU_01_C" "ALT_CORE_B_MU_02_C" "ALT_CORE_B_MU_03_C" "ALT_CORE_B_MU_04_C"
        "ALT_CORE_B_MU_04_R" "ALT_CORE_B_MU_04_U" "ALT_CORE_B_MU_05_C" "ALT_CORE_B_MU_05_R" "ALT_CORE_B_MU_05_U"
        "ALT_CORE_B_MU_06_C" "ALT_CORE_B_MU_06_R" "ALT_CORE_B_MU_06_U" "ALT_CORE_B_MU_07_C" "ALT_CORE_B_MU_07_R"
        "ALT_CORE_B_MU_07_U" "ALT_CORE_B_MU_08_C" "ALT_CORE_B_MU_08_R" "ALT_CORE_B_MU_08_U" "ALT_CORE_B_MU_09_C"
        "ALT_CORE_B_MU_09_R" "ALT_CORE_B_MU_09_U" "ALT_CORE_B_MU_10_C" "ALT_CORE_B_MU_10_R" "ALT_CORE_B_MU_10_U"
        "ALT_CORE_B_MU_11_C" "ALT_CORE_B_MU_11_R" "ALT_CORE_B_MU_11_U" "ALT_CORE_B_MU_12_C" "ALT_CORE_B_MU_12_R"
        "ALT_CORE_B_MU_12_U" "ALT_CORE_B_MU_13_C" "ALT_CORE_B_MU_13_R" "ALT_CORE_B_MU_13_U" "ALT_CORE_B_MU_14_C"
        "ALT_CORE_B_MU_14_R" "ALT_CORE_B_MU_14_U" "ALT_CORE_B_MU_15_C" "ALT_CORE_B_MU_15_R" "ALT_CORE_B_MU_15_U"
        "ALT_CORE_B_MU_16_C" "ALT_CORE_B_MU_16_R" "ALT_CORE_B_MU_16_U" "ALT_CORE_B_MU_17_C" "ALT_CORE_B_MU_17_R"
        "ALT_CORE_B_MU_17_U" "ALT_CORE_B_MU_18_C" "ALT_CORE_B_MU_18_R" "ALT_CORE_B_MU_18_U" "ALT_CORE_B_MU_19_C"
        "ALT_CORE_B_MU_19_R" "ALT_CORE_B_MU_19_U" "ALT_CORE_B_MU_20_C" "ALT_CORE_B_MU_20_R" "ALT_CORE_B_MU_20_U"
        "ALT_CORE_B_MU_21_C" "ALT_CORE_B_MU_21_R" "ALT_CORE_B_MU_21_U" "ALT_CORE_B_MU_22_C" "ALT_CORE_B_MU_22_R"
        "ALT_CORE_B_MU_22_U" "ALT_CORE_B_MU_23_C" "ALT_CORE_B_MU_23_R" "ALT_CORE_B_MU_23_U" "ALT_CORE_B_MU_24_C"
        "ALT_CORE_B_MU_24_R" "ALT_CORE_B_MU_25_C" "ALT_CORE_B_MU_25_R" "ALT_CORE_B_MU_26_C" "ALT_CORE_B_MU_26_R"
        "ALT_CORE_B_MU_27_C" "ALT_CORE_B_MU_27_R" "ALT_CORE_B_MU_28_C" "ALT_CORE_B_MU_28_R" "ALT_CORE_B_MU_29_C"
        "ALT_CORE_B_MU_29_R" "ALT_CORE_B_MU_30_C" "ALT_CORE_B_MU_30_R" "ALT_COREKS_B_MU_08_C" "ALT_COREKS_B_MU_08_R"
        "ALT_COREKS_B_MU_08_U" "ALT_COREKS_B_MU_09_C" "ALT_COREKS_B_MU_09_R" "ALT_COREKS_B_MU_09_U",

    "OD": "ALT_ALIZE_A_OR_38_C" "ALT_ALIZE_A_OR_38_R" "ALT_ALIZE_A_OR_38_U" "ALT_ALIZE_B_OR_31_C" "ALT_ALIZE_B_OR_33_C"
        "ALT_ALIZE_B_OR_33_R" "ALT_ALIZE_B_OR_33_U" "ALT_ALIZE_B_OR_34_C" "ALT_ALIZE_B_OR_34_R" "ALT_ALIZE_B_OR_34_U"
        "ALT_ALIZE_B_OR_35_C" "ALT_ALIZE_B_OR_35_R" "ALT_ALIZE_B_OR_35_U" "ALT_ALIZE_B_OR_36_C" "ALT_ALIZE_B_OR_36_R"
        "ALT_ALIZE_B_OR_36_U" "ALT_ALIZE_B_OR_37_C" "ALT_ALIZE_B_OR_37_R" "ALT_ALIZE_B_OR_37_U" "ALT_ALIZE_B_OR_38_C"
        "ALT_ALIZE_B_OR_38_R" "ALT_ALIZE_B_OR_38_U" "ALT_ALIZE_B_OR_39_C" "ALT_ALIZE_B_OR_39_R" "ALT_ALIZE_B_OR_39_U"
        "ALT_ALIZE_B_OR_40_C" "ALT_ALIZE_B_OR_40_R" "ALT_ALIZE_B_OR_40_U" "ALT_ALIZE_B_OR_41_C" "ALT_ALIZE_B_OR_41_R"
        "ALT_ALIZE_B_OR_41_U" "ALT_ALIZE_B_OR_42_C" "ALT_ALIZE_B_OR_42_R" "ALT_ALIZE_B_OR_43_C" "ALT_ALIZE_B_OR_43_R"
        "ALT_ALIZE_B_OR_44_C" "ALT_ALIZE_B_OR_44_R" "ALT_ALIZE_B_OR_44_U" "ALT_ALIZE_B_OR_45_C" "ALT_ALIZE_B_OR_45_R"
        "ALT_ALIZE_B_OR_45_U" "ALT_ALIZE_B_OR_46_C" "ALT_ALIZE_B_OR_46_R" "ALT_ALIZE_B_OR_46_U" "ALT_ALIZE_B_OR_47_C"
        "ALT_ALIZE_B_OR_47_R" "ALT_ALIZE_B_OR_47_U" "ALT_CORE_A_OR_31_C" "ALT_CORE_B_OR_01_C" "ALT_CORE_B_OR_02_C"
        "ALT_CORE_B_OR_03_C" "ALT_CORE_B_OR_04_C" "ALT_CORE_B_OR_04_R" "ALT_CORE_B_OR_04_U" "ALT_CORE_B_OR_05_C"
        "ALT_CORE_B_OR_05_R" "ALT_CORE_B_OR_05_U" "ALT_CORE_B_OR_06_C" "ALT_CORE_B_OR_06_R" "ALT_CORE_B_OR_06_U"
        "ALT_CORE_B_OR_07_C" "ALT_CORE_B_OR_07_R" "ALT_CORE_B_OR_07_U" "ALT_CORE_B_OR_08_C" "ALT_CORE_B_OR_08_R"
        "ALT_CORE_B_OR_08_U" "ALT_CORE_B_OR_09_C" "ALT_CORE_B_OR_09_R" "ALT_CORE_B_OR_09_U" "ALT_CORE_B_OR_10_C"
        "ALT_CORE_B_OR_10_R" "ALT_CORE_B_OR_10_U" "ALT_CORE_B_OR_11_C" "ALT_CORE_B_OR_11_R" "ALT_CORE_B_OR_11_U"
        "ALT_CORE_B_OR_12_C" "ALT_CORE_B_OR_12_R" "ALT_CORE_B_OR_12_U" "ALT_CORE_B_OR_13_C" "ALT_CORE_B_OR_13_R"
        "ALT_CORE_B_OR_13_U" "ALT_CORE_B_OR_14_C" "ALT_CORE_B_OR_14_R" "ALT_CORE_B_OR_14_U" "ALT_CORE_B_OR_15_C"
        "ALT_CORE_B_OR_15_R" "ALT_CORE_B_OR_15_U" "ALT_CORE_B_OR_16_C" "ALT_CORE_B_OR_16_R" "ALT_CORE_B_OR_16_U"
        "ALT_CORE_B_OR_17_C" "ALT_CORE_B_OR_17_R" "ALT_CORE_B_OR_17_U" "ALT_CORE_B_OR_18_C" "ALT_CORE_B_OR_18_R"
        "ALT_CORE_B_OR_18_U" "ALT_CORE_B_OR_19_C" "ALT_CORE_B_OR_19_R" "ALT_CORE_B_OR_19_U" "ALT_CORE_B_OR_20_C"
        "ALT_CORE_B_OR_20_R" "ALT_CORE_B_OR_20_U" "ALT_CORE_B_OR_21_C" "ALT_CORE_B_OR_21_R" "ALT_CORE_B_OR_21_U"
        "ALT_CORE_B_OR_22_C" "ALT_CORE_B_OR_22_R" "ALT_CORE_B_OR_22_U" "ALT_CORE_B_OR_23_C" "ALT_CORE_B_OR_23_R"
        "ALT_CORE_B_OR_24_C" "ALT_CORE_B_OR_24_R" "ALT_CORE_B_OR_25_C" "ALT_CORE_B_OR_25_R" "ALT_CORE_B_OR_26_C"
        "ALT_CORE_B_OR_26_R" "ALT_CORE_B_OR_27_C" "ALT_CORE_B_OR_27_R" "ALT_CORE_B_OR_28_C" "ALT_CORE_B_OR_28_R"
        "ALT_CORE_B_OR_29_C" "ALT_CORE_B_OR_29_R" "ALT_CORE_B_OR_30_C" "ALT_CORE_B_OR_30_R" "ALT_CORE_B_OR_31_C"
        "ALT_CORE_B_OR_32_C" "ALT_COREKS_B_OR_20_C" "ALT_COREKS_B_OR_20_R" "ALT_COREKS_B_OR_20_U" "ALT_COREKS_B_OR_21_C"
        "ALT_COREKS_B_OR_21_R" "ALT_COREKS_B_OR_21_U",

    "NE": "ALT_ALIZE_B_NE_02_C",

    "YZ": "ALT_ALIZE_A_YZ_36_C" "ALT_ALIZE_A_YZ_36_R" "ALT_ALIZE_A_YZ_36_U" "ALT_ALIZE_B_YZ_32_C" "ALT_ALIZE_B_YZ_32_R"
        "ALT_ALIZE_B_YZ_32_U" "ALT_ALIZE_B_YZ_33_C" "ALT_ALIZE_B_YZ_33_R" "ALT_ALIZE_B_YZ_33_U" "ALT_ALIZE_B_YZ_34_C"
        "ALT_ALIZE_B_YZ_34_R" "ALT_ALIZE_B_YZ_34_U" "ALT_ALIZE_B_YZ_35_C" "ALT_ALIZE_B_YZ_35_R" "ALT_ALIZE_B_YZ_35_U"
        "ALT_ALIZE_B_YZ_36_C" "ALT_ALIZE_B_YZ_36_R" "ALT_ALIZE_B_YZ_36_U" "ALT_ALIZE_B_YZ_37_C" "ALT_ALIZE_B_YZ_37_R"
        "ALT_ALIZE_B_YZ_37_U" "ALT_ALIZE_B_YZ_38_C" "ALT_ALIZE_B_YZ_38_R" "ALT_ALIZE_B_YZ_38_U" "ALT_ALIZE_B_YZ_39_C"
        "ALT_ALIZE_B_YZ_39_R" "ALT_ALIZE_B_YZ_39_U" "ALT_ALIZE_B_YZ_40_C" "ALT_ALIZE_B_YZ_40_R" "ALT_ALIZE_B_YZ_40_U"
        "ALT_ALIZE_B_YZ_41_C" "ALT_ALIZE_B_YZ_41_R" "ALT_ALIZE_B_YZ_42_C" "ALT_ALIZE_B_YZ_42_R" "ALT_ALIZE_B_YZ_42_U"
        "ALT_ALIZE_B_YZ_43_C" "ALT_ALIZE_B_YZ_43_R" "ALT_ALIZE_B_YZ_43_U" "ALT_ALIZE_B_YZ_44_C" "ALT_ALIZE_B_YZ_44_R"
        "ALT_ALIZE_B_YZ_44_U" "ALT_ALIZE_B_YZ_45_C" "ALT_ALIZE_B_YZ_45_R" "ALT_ALIZE_B_YZ_46_C" "ALT_ALIZE_B_YZ_46_R"
        "ALT_ALIZE_B_YZ_47_C" "ALT_CORE_A_YZ_31_C" "ALT_CORE_B_YZ_01_C" "ALT_CORE_B_YZ_02_C" "ALT_CORE_B_YZ_03_C"
        "ALT_CORE_B_YZ_04_C" "ALT_CORE_B_YZ_04_R" "ALT_CORE_B_YZ_04_U" "ALT_CORE_B_YZ_05_C" "ALT_CORE_B_YZ_05_R"
        "ALT_CORE_B_YZ_05_U" "ALT_CORE_B_YZ_06_C" "ALT_CORE_B_YZ_06_R" "ALT_CORE_B_YZ_06_U" "ALT_CORE_B_YZ_07_C"
        "ALT_CORE_B_YZ_07_R" "ALT_CORE_B_YZ_07_U" "ALT_CORE_B_YZ_08_C" "ALT_CORE_B_YZ_08_R" "ALT_CORE_B_YZ_08_U"
        "ALT_CORE_B_YZ_09_C" "ALT_CORE_B_YZ_09_R" "ALT_CORE_B_YZ_09_U" "ALT_CORE_B_YZ_10_C" "ALT_CORE_B_YZ_10_R"
        "ALT_CORE_B_YZ_10_U" "ALT_CORE_B_YZ_11_C" "ALT_CORE_B_YZ_11_R" "ALT_CORE_B_YZ_11_U" "ALT_CORE_B_YZ_12_C"
        "ALT_CORE_B_YZ_12_R" "ALT_CORE_B_YZ_12_U" "ALT_CORE_B_YZ_13_C" "ALT_CORE_B_YZ_13_R" "ALT_CORE_B_YZ_13_U"
        "ALT_CORE_B_YZ_14_C" "ALT_CORE_B_YZ_14_R" "ALT_CORE_B_YZ_14_U" "ALT_CORE_B_YZ_15_C" "ALT_CORE_B_YZ_15_R"
        "ALT_CORE_B_YZ_15_U" "ALT_CORE_B_YZ_16_C" "ALT_CORE_B_YZ_16_R" "ALT_CORE_B_YZ_16_U" "ALT_CORE_B_YZ_17_C"
        "ALT_CORE_B_YZ_17_R" "ALT_CORE_B_YZ_17_U" "ALT_CORE_B_YZ_18_C" "ALT_CORE_B_YZ_18_R" "ALT_CORE_B_YZ_18_U"
        "ALT_CORE_B_YZ_19_C" "ALT_CORE_B_YZ_19_R" "ALT_CORE_B_YZ_20_C" "ALT_CORE_B_YZ_20_R" "ALT_CORE_B_YZ_21_C"
        "ALT_CORE_B_YZ_21_R" "ALT_CORE_B_YZ_22_C" "ALT_CORE_B_YZ_22_R" "ALT_CORE_B_YZ_23_C" "ALT_CORE_B_YZ_23_R"
        "ALT_CORE_B_YZ_24_C" "ALT_CORE_B_YZ_24_R" "ALT_CORE_B_YZ_25_C" "ALT_CORE_B_YZ_25_R" "ALT_CORE_B_YZ_26_C"
        "ALT_CORE_B_YZ_26_R" "ALT_CORE_B_YZ_27_C" "ALT_CORE_B_YZ_27_R" "ALT_CORE_B_YZ_28_C" "ALT_CORE_B_YZ_28_R"
        "ALT_CORE_B_YZ_29_C" "ALT_CORE_B_YZ_29_R" "ALT_CORE_B_YZ_30_C" "ALT_CORE_B_YZ_30_R" "ALT_CORE_B_YZ_31_C"
        "ALT_COREKS_B_YZ_11_C" "ALT_COREKS_B_YZ_11_R" "ALT_COREKS_B_YZ_11_U" "ALT_COREKS_B_YZ_17_C"
        "ALT_COREKS_B_YZ_17_R" "ALT_COREKS_B_YZ_17_U"
);

$factions: "AX" "BR" "LY" "MU" "NE" "OD" "YZ";
